.App {
  text-align: center;
}

.App-logo {
  height: 35%;
  width: 35%;
  border-radius: 100%;
  pointer-events: none;
}

header h1, h2 {
  margin: 0;
  color: darkslateblue;
}

header h2 {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 20px;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:grey;
}

body {
  background-color: #f4f4f4;
}

.card-container {
  display: flex;
  justify-content: center;
}

.schwabLogo {
  padding-top: 20px;
}

.schwabLogo img {
  width: 130px;
  border-radius: 100%;
}

.card-container Card {
  width: 500px;
}

.MuiCard-root {
  width: 750px;
  margin-right: 25px;
  margin-left: 25px;
}

.work-container {
  display: flex;
  justify-content: center;
}

.work-container .rightButton, .leftButton {
  display: flex;
  align-items: center;
}

.footer {
  height: 75px;
}